.card{
    flex: 1 1 20%;
    margin: 0.9em;
    border-radius: 0 0 15px 15px;
    max-width: 15em;
}

.card img{
    width: 100%;
    height: auto;
    padding: 0.5em;
}

.titulo{
    text-align: center;
    color: white;
    padding: 0.2em;
}
.acoes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.acoes button{
    margin: 0.2em;
    color: white;
}

.acoes img{
    width: 32px;
    height: auto;
    display: inline-block;

}